In [164]:
import pandas as pd

In [293]:
# Importing the budget data

In [327]:
pnl_results = {}

In [328]:
budget_data = pd.read_csv('C:/Repos/python-homework/PyBank/data/02-Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv')

In [329]:
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [330]:
#The total number of months included in the dataset.

In [331]:
pnl_results["total_month"] = len(budget_data)

In [332]:
#The net total amount of Profit/Losses over the entire period.

In [333]:
pnl_results["net_amount"] = budget_data['Profit/Losses'].sum()

In [334]:
#The average of the changes in Profit/Losses over the entire period.

In [335]:
budget_data["changes_pnl"] = budget_data['Profit/Losses'] - budget_data["Profit/Losses"].shift(1)
budget_data = budget_data.sort_values(by=['changes_pnl'],ascending=False).dropna((0))
pnl_results["avg_changes_pnl"] = round(budget_data["changes_pnl"].mean(),2)

In [336]:
#The greatest increase in profits (date and amount) over the entire period

In [337]:
pnl_results["greatest_increase"] = [budget_data.head(1).iloc[0,0],round(budget_data.head(1).iloc[0,2])]

In [338]:
#The greatest decrease in losses (date and amount) over the entire period.

In [339]:
pnl_results["greatest_decrease"] = [budget_data.tail(1).iloc[0,0],round(budget_data.tail(1).iloc[0,2])]

In [341]:
print('Financial Analysis')
print('----------------------------')
print(f'Total Months: {pnl_results["total_month"]}')
print(f'Total: ${pnl_results["net_amount"]}')
print(f'Average  Change: ${pnl_results["avg_changes_pnl"]}')
print(f'Greatest Increase in Profits: {pnl_results["greatest_increase"][0]} (${pnl_results["greatest_increase"][1]})')
print(f'Greatest Decrease in Profits: {pnl_results["greatest_decrease"][0]} (${pnl_results["greatest_decrease"][1]})')

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)