In [51]:
#Importing the pandas library to allow works with pandas and Path library

In [99]:
import pandas as pd
from pathlib import Path

In [210]:
def result_print_export(pnl_results,output_file):
    title = 'Financial Analysis \n----------------------------\n'
    
    with open(output_file,'w') as file:
        print(title)
        file.write(title)        
        
        for key,value in pnl_results.items():
            
            if type(value) == list:
                print(f"{key}: {value[0]} (${value[1]})")
                file.write(f"{key}: {value[0]} (${value[1]}) \n")
            else:
                print(f"{key}: {value}")
                file.write(f"{key}: {value} \n")

In [156]:
#Setting the path of csv file
path_file = Path("./data/budget_data.csv")

In [157]:
#Declaring the dictionary that will record the results
pnl_results = {}

In [158]:
#Reading the CSV file and saving in a pandas dataframe
budget_data = pd.read_csv(path_file)

In [159]:
#Printing the dataframe
budget_data

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [160]:
#Calculating the total month based on the len of dataframe and saving in the dictionary

In [161]:
pnl_results["Total Months"] = len(budget_data)

In [162]:
#Calculating the net amount of profit/losses using a function sum from dataframe

In [163]:
pnl_results["Total"] = f"${budget_data['Profit/Losses'].sum()}"

In [164]:
#Calculating the changes in profit/loss over the period and saving in the dictionary as a key

In [165]:
budget_data["changes_pnl"] = budget_data['Profit/Losses'] - budget_data["Profit/Losses"].shift(1)

In [166]:
#Sorting the dataframe from the highest changes_pnl calculate and removing the none value

In [167]:
budget_data = budget_data.sort_values(by=['changes_pnl'],ascending=False).dropna((0))

In [168]:
#Calculating the averages of changes_pnl and rounding for 2 decimal places

In [169]:
pnl_results["Average Change"] = f"${round(budget_data['changes_pnl'].mean(),2)}"

In [170]:
#Calculating the greatest increase in profits over the entire period. As the dataframe is sorted already from the highest, I'm using the head(1) in order to bring only the first

In [171]:
pnl_results["Greatest Increase in Profits"] = [budget_data.head(1).iloc[0,0],round(budget_data.head(1).iloc[0,2])]

In [172]:
#Calculating the greatest increase in profits over the entire period. As the dataframe is sorted already from the highest, I'm using the tail(1) in order to bring only the first line, which is the greatest decrease

In [173]:
pnl_results["Greatest Decrease in Profits"] = [budget_data.tail(1).iloc[0,0],round(budget_data.tail(1).iloc[0,2])]

In [212]:
#Setting the output path destination and file name

In [213]:
output_file = Path("./output.txt")

In [214]:
#Exporting and printing the file looping the dictionary

In [215]:
result_print_export(pnl_results,output_file)

Financial Analysis
----------------------------

Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)